.connect {
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.letsConnectContainer {
  display: flex;
  align-items: center;
  margin-left: 80px;
}

.clickMe {
  font-size: 1.1em;
  margin-left: 10px;
  rotate: 18deg;
  color: var(--light-color);
  font-family: "Dancing Script", cursive;
}

.arrow {
  font-size: 2em;
  color: var(--light-color);
  margin-left: -20px;
}

.letsConnect {
  background-color: var(--contrast);
  margin-top: 2em;
  border: none;
  padding: 10px 40px;
  margin-bottom: 1em;
  border-radius: 20px;
  color: #003135;
  font-size: 15px;
  font-weight: bold;
  transition: ease 0.5s;
  text-decoration: none;
}

.letsConnect:hover {
  cursor: pointer;
  background-color: #2ac8d3;
}

.contactMe {
  border: none;
  background-color: transparent;
  color: var(--light-color);
  font-size: 15px;
  font-weight: bold;
}

.contactMe:hover {
  cursor: pointer;
  text-decoration: underline;
}