body {
  background-color: var(--primary-color);
}


/* @media (max-width: 768px) {
  .presentation {
    padding: 0 5vw;
    margin-top: 4em;
  }

  .presentation h1 {
    font-size: 2.5em;
  }

  .description {
    font-size: 1em;
  }
} */
