.navbar {
  background-color: var(--dark-color);
  padding: 1em;
  display: flex;
  justify-content: space-between;
}

.navbar ul {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-right: 2em;
}

.logo {
  color: var(--contrast);
}

.navbar ul li {
  text-decoration: none;
  list-style: none;
}

.navItem {
  text-decoration: none;
  color: var(--light-color);
  font-weight: 400;
  margin-right: 2em;
}

.image {
  height: auto;
  width: 40px;
}
