.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
}

form {
  text-align: left;
  max-width: 600px;
  width: 100%;
  background: var(--experience-card-color);
  padding:25px 25px 30px;
  border-radius: 20px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, .1); */
  color: var(--card-text-color);
  margin: 25px;
  border: black 1px solid;
}

 form h2 {
  font-size: 30px;
  text-align: center;
  color: var(--contrast);
}

form .inputBox {
  margin-top: 20px;
  font-weight: bold;
}

.inputBox .field {
  width: 95%;
  height: 30px;
  background: transparent;
  border: 2px solid var(--card-text-color);
  outline: none;
  border-radius: 6px;
  padding: 5px 14px;
  font-size: 16px;
  margin-top: 8px;
}

.inputBox .field.message {
  height: 200px;
  resize: none;
}

form button {
  width: 100%;
  height:45px;
  background: var(--detail);
  border: none;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: var(--dark-color);
  font-weight: bold;
  margin-top: 20px;
  transition: ease .5s;
}

form button:hover {
background: #c26803;;
}