.experienceCard {
  display: flex;
  /* flex-direction: column; */
  border: 1px solid;
  border-radius: 20px;
  margin-top: 2em;
  padding: 15px 10px;
  background-color: var(--light-color);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for a card effect */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transitions */
}

.experienceCard:hover {
  transform: scale(1.05);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
}

.cardHeader {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 1em;
  /* border: solid 1px red; */
}

.cardHeader svg  {
  font-size: 3em;
  margin-right: 20px;
  /* border: solid 1px red; */
}

.writingSection {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.cardHeader h3 {
  font-size: 1.5rem;
  margin-left: .5em;
  color: var(--contrast);
  /* border: solid 1px red; */
}
