.experienceCard {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border: 1px solid;
  background-color: var(--experience-card-color);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}

.cardHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: solid 1px red; */
  margin-right: 2em;
}

.experienceCard svg {
  font-size: 3em;
  margin-right: 20px;
  /* border: solid 1px red; */
}

.writingSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* border: solid 1px red; */
  padding: 0;
  justify-content: left;
  color: var(--card-text-color);
}

.writingSection p {
  text-align: left;
  margin-bottom: 10px;
}

.writingSection li {
  list-style: none;
  text-align: left;
  margin-bottom: 3px;
}

.writingSection li span {
color: var(--detail);
font-weight: bolder;
}

.writingSection h4 {
  font-size: 1.2em;
  color: var(--detail);
  margin-bottom: 10px;
}

.cardHeader h3 {
  font-size: 1.5rem;
  margin-left: 0.5em;
  color: var(--contrast);
  /* border: solid 1px red; */
}

.SkillsTitle {
  color: var(--detail);
  font-size: larger;
}

.skillsArea {
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.skillsArea strong {
  font-size: 0.9em;
  color: var(--card-text-color);
  padding: 5px 10px;
  border-radius: 5px;
}

a {
  color: var(--detail);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.companyImage {
  width: 500px;
  height: auto;
  margin-right: 1em;
  margin-top: 7em;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.companyImage:hover {
  transform: scale(1.05);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
