.experienceCard {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border: 1px solid;
  border-radius: 20px;
  margin-top: 2em;
  padding: 20px 15px;
  background-color: var(--light-color);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for a card effect */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transitions */
}

.cardHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: solid 1px red; */
  margin-right: 2em;
}

.experienceCard svg  {
  font-size: 3em;
  margin-right: 20px;
  /* border: solid 1px red; */
}

.writingSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* border: solid 1px red; */
  padding: 0;
  justify-content: left;
}

.writingSection p {
  text-align: left;
  margin-bottom: 20px;
}

.writingSection li {
  text-align: left;
  margin-bottom: 3px;
}

.writingSection h4 {
  margin-bottom: 1em;
}

.cardHeader h3 {
  font-size: 1.5rem;
  margin-left: .5em;
  color: var(--contrast);
  /* border: solid 1px red; */
}

.skillsArea {
  margin-top: 1em;
}

.companyImage {
  width: 500px;
  height: auto;
  margin-right: 1em;
  margin-top: 7em;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.companyImage:hover {
  transform: scale(1.05);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
